*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    color: white;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('bg.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#logo{
    position: absolute;
    left: 20px;
    top: 5px;
    display: inline-block;
}

#logo img{
    width: 200px;
}

#navigation{
    display: block;
    margin: 20px auto;
    width: 680px;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    font-family: 'Baloo Bhaina 2', cursive;
    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 30px;
}

.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;
}

#button{
    position: absolute;
    right: 30px;
    top: 25px;
    display: inline-block;
}

.btn{
    margin: 0px 5px;
    padding: 2px 5px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    color: gray;
}

.container{
    font-family: 'Roboto', sans-serif;
    border: 5px solid white;
    border-radius: 20px;
    margin: 200px 35px;
    padding: 0px 20px 20px 20px;
    width: 680px;
    height: 425px;
    cursor: pointer;
    text-align: center;
}

.container h1{
    padding: 25px;
}

.container .Name{
    margin: 0px 235px 0px 0px;
    font-size: 20px;
}

.container .Email{
    margin: 0px 242px 0px 0px;
    font-size: 20px;
}

.container .Password{
    margin: 0px 208px 0px 0px;
    font-size: 20px;
}

.form-group input{
    margin: 10px auto;
    padding: 2px 5px;
    display: block;
    text-align: center;
    width: 300px;
    border: 2px solid black;
    font-size: 18px;
    display: inline-block;
}

.check-box{
    margin-top: 5px;
}

.container .btn{
    width: 150px;
    margin: 20px 0px 0px 0px;
}