*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(210, 70, 0);
    --secondary-color: rgb(255, 255, 255);
    --primary-font: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
#navbar{
    background-color: var(--primary-color);
    display: flex;
    width: 100vw;
    height: 6vh;
}

#navbar ul{
    display: flex;
    margin-left: 30px;
}

#navbar li{
    list-style: none;
    margin: auto 15px;
}

#navbar a{
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: var(--secondary-color);
}

#navbar input{
    margin: auto 30px auto auto;
    padding: 5px 15px;
    width: 250px;
    height: 35px;
    border: 0.2em solid black;
    border-radius: 18px;
}

.container{
    height: calc(100vh - 7.8vh);
    display: flex;
}

.container1{
    background-image: url(imgs/bg1.jpg);
}

.box{
    border: 5px solid var(--primary-color);
    margin: auto auto 150px auto;
    height: 610px;
}

.box img{
    opacity: 0.8;
}

.moving-icon a{
    text-decoration: none;
}

.moving-icon{
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    height: min-content;
    position: fixed;
    top: 780px;
    right: 80px;
    padding: 8px;
}

.container2{
    background-image: url(imgs/bg2.jpg);
}

.greet-box{
    padding: 100px;
    background-color: rgba(40, 40, 40, 0.8);
    border: 5px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.greet-box h1{
    color: var(--secondary-color);
    font-family: var(--primary-font);
    margin: auto auto 20px auto;
    text-align: center;
    width: 25rem;
    font-size: 3rem;
}

.greet-box h1::first-line{
    color: var(--primary-color);
}

.greet-box p{
    color: var(--primary-color);
    font-family: var(--primary-font);
    margin: 20px auto;
    text-align: center;
}

.greet-box button{
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: rgb(255, 255, 255);
    font-weight:700;
    margin: 20px auto auto auto;
    text-align: center;
    padding: 8px 20px;
}
.greet-box button:hover{
    cursor: pointer;
}

#footer{
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.sec-footer{
    background-color: rgb(25, 25, 25);
    text-align: center;
    display: flex;
    height: 20rem;
}

.sec-footer > div{
    margin: auto;
    width: 35%;
}

.sec-footer > div h1{
    font-weight: 500;
    font-size: 50px;
    margin: 20px;
}

.sec-footer > div p{
    margin: 20px;
}

.sec-footer > div a{
    text-decoration: none;
}

.sec-footer > div img{
    border: 2px solid white;
    border-radius: 50%;
    margin: 20px;
    padding: 5px;
}

.main-footer{
    background-color: black;
    height: 3rem;
    display: flex;
}

.main-footer p{
    margin: auto;
}

.main-footer a{
    color: rgb(0, 190, 255);
    text-decoration: none;
}