* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1535478044878-3ed83d5456ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjR8fG11bHRpJTIwY29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-size: cover;
    background-clip: text;
    color: transparent;
    font-size: 60px;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 50px;
}

.card {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: rgb(20, 20, 20);
    text-decoration: none;
    padding: 18px 25px;
    width: 70vw;
    display: flex;
    align-items: center;
    color: white;
    gap: 18px;
}

.thumbnail {
    position: relative;
}

.img {
    height: 140px;
    border-radius: 10px;
}

.duration {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 6px;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 14px;
}

.description {
    height: 142px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title {
    margin-top: 5px;
}

.meta-data {
    display: flex;
    gap: 8px;
    color: rgb(180, 180, 180);
}

h5 {
    font-size: 15px;
    font-weight: 100;
}

p {
    font-size: 14px;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50px;
    color: rgb(200, 200, 200);
    cursor: pointer;
    font-size: large;
    height: 3.2em;
    width: 10.5em;
    margin-bottom: 50px;
}

button:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}