@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 170, 50);
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
}
