/* ========================================= Header ========================================= */

/* ----------------------------------------CSS Reset----------------------------------------- */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* --------------------------------------CSS Variables--------------------------------------- */

:root {
    --h1-font-family: 'Josefin Sans', sans-serif;
    --h1-font-size: 3.5rem;

}

/* ===================================== Navigation Bar ===================================== */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    position: relative;
}

/* ---------------------------Navigation Bar: Logo Styling------------------------------- */

#logo {
    margin: 10px 15px;
}

#logo img {
    height: 40px;
    border-radius: 100%;
}

/* ------------------------Navigation Bar: List-items Styling---------------------------- */

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.8rem;
}

#navbar ul li a {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 20px;
    padding: 0px 8px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

/* -----------------------------Navigation Bar: List-items Hover----------------------------- */

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* ------------------------------Navigation Bar: Button Styling------------------------------ */

.nav-btn {
    position: absolute;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 5px;
    margin: 15px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* -------------------------------Navigation Bar: Button Hover------------------------------- */

.nav-btn:hover {
    opacity: 0.6;
}

/* --------------------------------Navigation Bar: Background-------------------------------- */

#navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.8;
}

/* ======================================= Section-1 ======================================== */

/* -----------------------------------Section: Home Styling---------------------------------- */

#home {
    display: flex;
    flex-direction: column;
    padding: 30px 150px;
    height: 86.5vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    padding: 30px;
}

#home p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    padding: 8px 30px;
    border: 3px solid black;
    background-color: gray;
    color: white;
    border-radius: 8px;
    margin: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* -----------------------------------Section: Home Hover------------------------------------ */

.btn:hover {
    opacity: 0.8;
}

/* ---------------------------------Section: Home Background--------------------------------- */

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/home-background.jpg')no-repeat center center/cover;
    z-index: -2;
    opacity: 0.8;
}

/* ======================================= Section-2 ======================================== */

/* --------------------------------Section: Services Styling--------------------------------- */

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
}

#services h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    padding: 30px;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-box {
    border: 2px solid brown;
    background-color: #ffefef;
    border-radius: 20px;
    width: 350px;
    margin: 0px 3px;
    padding: 10px;
    margin: 0px 4px 50px 4px;
}

.services-box img {
    display: block;
    margin: auto;
    height: 100px;
}

.services-box h2 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.services-box p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 10px;
}

/* ------------------------------Section: Services Background-------------------------------- */

#services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/services-background.jpg')no-repeat center center/cover;
    z-index: -2;
    opacity: 0.8;
}

/* ======================================= Section-3 ======================================== */

/* ---------------------------------Section: Client Styling---------------------------------- */

#client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;

}

#client h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    padding: 30px 0px 20px 0px;
}

.client-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    padding: 0px 0px 10px 0px;
}

.client-box img {
    height: 100px;
}

/* --------------------------------Section: Client Background-------------------------------- */

#client::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/client-background.jpg')no-repeat center center/cover;
    z-index: -2;
}

/* ======================================= Section-4 ======================================== */

/* --------------------------------Section: Contact Styling---------------------------------- */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60vh;

}

#contact h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    padding: 30px 0px 20px 0px;
}

.contact-container {
    display: flex;
}

.contact-box {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 600px;
    position: relative;
}

.contact-box label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    margin: 5px 0px;
    color: white;
}

.contact-box input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.contact-box textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: 10px;
    min-width: 300px;
    max-width: 580px;
    min-height: 50px;
    max-height: 80px;
    border-radius: 10px;
}

/* -------------------------------Section: Contact Background-------------------------------- */

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/contact-background.jpg')no-repeat center center/cover;
    z-index: -2;
    opacity: 0.8;
}

/* ======================================== Footer ========================================== */

/* -------------------------------------Footer Styling--------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    height: 50px;
}

/* ------------------------------------Footer Background------------------------------------- */

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.8;
}