.tasks-typewriter {
    overflow: hidden;
    border-right: 2px solid rgb(255, 255, 255);
    white-space: nowrap;
    animation:
        waiting 0.5s,
        tasks-typing 1.5s 0.5s steps(15, end),
        blink-caret .75s 0.5s step-end infinite;
}

/* The typing effect */
@keyframes tasks-typing {
    from {
        opacity: 0.5;
        width: 0;
    }

    to {
        opacity: 1;
        width: 297px;
    }
}

@media only screen and (min-width: 640px) {
    @keyframes tasks-typing {
        from {
            opacity: 0.5;
            width: 0;
        }
    
        to {
            opacity: 1;
            width: 397px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    @keyframes tasks-typing {
        from {
            opacity: 0.5;
            width: 0;
        }
    
        to {
            opacity: 1;
            width: 529px;
        }
    }
}